<h1>Sample App</h1>
<p>TaDa this stuff is a lot of fun and it is like a framework ha ha get it they 
	say that this stuff is a framework and EE says that it is a framework and they
	are kind of the same because they are both frameworks they are sort of the same.  
	But some day soon, very very soon this will be where we sign up the new users.</p>
